.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 5%;
}

.triangle-form {
    display:flex;
    flex-direction: column;
}

.triangle-form input {
    padding: 1em;
}